In [6]:
import numpy as np
import pandas as pd
import zipfile

filepath="P00000002-ALL.zip"

zf=zipfile.ZipFile(filepath)


# process by pandas
df = pd.read_csv('P00000002-ALL.zip',skiprows=1,names=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R'],compression='zip', sep=',', quotechar='"')
df.head()

C:\Users\JC\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,11,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R
C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,07-AUG-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1358358,612168,P2020,NaN
C00508416,P00006213,"Delaney, John K.","JACKLIN, CHARLES",HUNTSVILLE,AL,358061203,NOT EMPLOYED,NOT EMPLOYED,500.0,28-JUN-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1348447,606419,P2020,NaN
C00508416,P00006213,"Delaney, John K.","GREEN, KEVIN",POINT CLEAR,AL,365641669,SELF,ATTORNEY,250.0,23-OCT-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,617273,P2020,NaN
C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,04-DEC-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618977,P2020,NaN
C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,50.0,16-NOV-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618316,P2020,NaN

In [8]:
candidatels=[]
contributionSt=[]
contributionAmt=[]
datels=[]

In [9]:
for record in df:
    candidatels.append(df['B'])
    contributionSt.append(df['E'])
    contributionAmt.append(df['I'])
    datels.append(df['J'])

In [10]:
candidatels[:5]

[C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
                    ...
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 Name: B, Length: 2844813, dtype: object, C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
                    ...
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 Name: B, Length: 2844813, dtype: object, C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
                    ...
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 Name: B, Length: 2844813, dtype: object, C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
                    ...
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 Name: B, Length: 2844813, dtype: object, C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
 C00508416    Delaney, John K.
                    ...
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 C00727156      Patrick, Deval
 Name: B, Length: 2844813, dtype: object]

In [11]:
contributionSt[:4]

[C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
              ..
 C00727156    WI
 C00727156    WI
 C00727156    WV
 C00727156    WV
 C00727156    WV
 Name: E, Length: 2844813, dtype: object, C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
              ..
 C00727156    WI
 C00727156    WI
 C00727156    WV
 C00727156    WV
 C00727156    WV
 Name: E, Length: 2844813, dtype: object, C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
              ..
 C00727156    WI
 C00727156    WI
 C00727156    WV
 C00727156    WV
 C00727156    WV
 Name: E, Length: 2844813, dtype: object, C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
 C00508416    AL
              ..
 C00727156    WI
 C00727156    WI
 C00727156    WV
 C00727156    WV
 C00727156    WV
 Name: E, Length: 2844813, dtype: object]